<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form>
        <input type="text" name="q">
        <button>Search</button>
    </form>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
        </tr>
    </table>
</div>
<div>
    <a th:if="${customers.hasPrevious()}" th:href="@{/customer?page=__${customers.getNumber() - 1}__}">Previous</a>
    <span th:text="${customers.getNumber()}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:if="${customers.hasNext()}" th:href="@{/customer?page=__${customers.getNumber() + 1}__}">Next</a>
</div>
</body>
</html>